<!DOCTYPE html>
<html>

  <head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="//getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">

      <form class="form-signin" method="post" action="{% url 'django.contrib.auth.views.login' %}">
        {% csrf_token %}
        <h2 class="form-signin-heading text-center">Zeus WPI</h2>

        {% if form.errors %}
          <div class="alert alert-danger" role="alert">
            <a href="#" class="alert-link">Your username and password didn't match. Please try again.</a>
          </div>
        {% endif %}

        <label for="id_username" class="sr-only">Username</label>
        <input id="id_username" maxlength="254" name="username" type="text" class="form-control" placeholder="Username" required="" autofocus="">

        <label for="id_password" class="sr-only">Password</label>
        <input id="id_password" name="password" type="password" class="form-control" placeholder="Password" required="">

        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Sign In" />
        <input type="hidden" name="next" value="{{ next }}" />
      </form>
    </div>

  </body>
</html>
